.ingredient {
  width: 100%;
  max-width: 500px;
  background-color: var(--tertiary);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 1px;
}
.ingredient > p {
  color: gray;
  font-size: 0.8rem;
}
