@import url(https://fonts.googleapis.com/css?family=Nunito);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  --main: #def5e5;
  --primary: #bcead5;
  --secondary: #9ed5c5;
  --tertiary: #8ec3b0;
  --white: white;
  --red: #ff3953;
}
