.recipe {
  width: 200px;
  margin: 5px;
  background-color: var(--tertiary);
  padding: 10px;
  border-radius: 5px;
  flex: 1;
  min-width: 200px;
  user-select: none;
  cursor: pointer;
  transition: all 1s ease;
}
.recipe > h1 {
  font-size: 1rem;
  margin-bottom: 5px;
}
.recipe > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.recipe:hover {
  transform: scale(1.04);
}
