.recipe {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--main);
}
.recipe::-webkit-scrollbar {
  display: none;
}

.recipe__recipe {
  width: 100%;
  padding: 10px;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  user-select: none;
  flex-direction: column;
}
.recipe__recipe > img {
  width: 100%;
  max-width: 300px;
  height: 150px;
  object-fit: cover;
}

.recipe__recipe > h1 {
  margin-bottom: 5px;
}

.recipe__recipe > h2 {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 1rem;
}
